<header class="header" id="home">
    <div class="menu container">
      <a href="#" class="logo">
        <img  class="logo-img">  
      </a>

      <div class="header-content container">
        <div class="header-txt">
          <h1>¡Bienvenido a la <span>Calculadora</span> de forma ágil y sencilla!</h1>
          <p>
            Inscríbete en tus cursos para el próximo semestre. Te ofrecemos una <strong>amplia variedad</strong> de programas educativos. 
            Monitorea tu <strong>progreso académico</strong> con nosotros y accede a una educación de calidad. Todo <em>a solo un clic</em>.
          </p>
          <li><a (click)="navigateTo('pages/agregartareas')"class="btn-1">continuar</a></li>
        </div>
      </div>
